<a href="https://colab.research.google.com/github/rodolfostark/MachineLearning/blob/master/Introdu%C3%A7%C3%A3o_a_machine_learning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [0]:
mapa = {
    'home':'principal',
    'how_it_works':'como_funciona',
    'contact':'contato',
    'bought':'comprou'
}
dados = dados.rename(columns = mapa)

In [3]:
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [0]:
x = dados[['principal', 'como_funciona', 'contato']]
y = dados['comprou']

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [6]:
dados.shape

(99, 4)

In [0]:
treino_x = x[:75]
treino_y = y[:75]

In [8]:
teste_x = x[75:]
teste_y = y[75:]

print(f'Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos.')

Treinaremos com 75 elementos e testaremos com 24 elementos.

In [9]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()

modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [0]:
previsoes = modelo.predict(teste_x)

In [11]:
from sklearn.metrics import accuracy_score

taxa_de_acerto = accuracy_score(teste_y, previsoes)

print(f'Taxa de acerto {taxa_de_acerto * 100:.2f}')

Taxa de acerto 95.83